<main>
  <header class="container">
    <app-cart-header [numberItems]="numberItems"></app-cart-header>
  </header>

  <section class="container">
    <app-cart-main
      [products]="products"
      (onRemoveProduct)="handleRemoveProduct($event)"
      (onThayDoiSL)="handleThayDoiSL($event)"
    ></app-cart-main>
  </section>

  <section class="container">
    <app-cart-footer
      *ngIf="total > 0"
      [subTotal]="subTotal"
      [tax]="tax"
      [total]="total"
      [numDisCount]="numDisCount"
      (onApplyPromoCode)="handleApplyPromoCode($event)"
    ></app-cart-footer>
    <h1 *ngIf="total == 0">Ko co sp nao!</h1>
  </section>
</main>
